<html>
	<head>
		<title>Shitcoin Market</title>
	</head>
	<body>
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <hr>
    <span>
    {% block place_order %}
    {% endblock %}
  
    {% block auction_control %}
    {% endblock %}

    {% block orderbook_status %}
    {% endblock %}
    </span>
  </body>
<hmtl>