{% extends "base.html" %}
{% import "bootstrap/fixes.html" as fixes %}


{% block head %}
{{ super() }}
    <script type="text/javascript" src="static/javascript/min/socket.io.min.js"></script>
    <script type="text/javascript" src="static/javascript/min/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="static/javascript/utils.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            console.log('asdasdasd');
            var socket = io.connect('http://' + document.domain + ':' + location.port + '/client');    
            socket.emit('client requests orderbook status', 'CUMULATIVE_BOOK_book_1');
        });
    </script>


{% endblock %}

{% block title %} Shitcoin market {% endblock %}


{% block usermenu %}
    <li class="navbar-text">Signed in as {{ user.username }} </li>
    <li class="active"><a href="{{ sign_out_url }}">Sign out</a></li>
{% endblock %}

{% block auction %}
    {{super()}}
        <div class="col-lg-4">
            {% include 'order_form.html' %}        
        </div>
        <div class="col-lg-4">
            {% include 'orderbook_status.html' %}        
        </div>
        <div class="col-lg-4">
            {% include 'order_history.html' %}        
        </div>
    
{% endblock %}


{% block other_scripts %}
{% endblock %}