{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
		<div class="container">
		<div style="height:50px;"></div>
		<div class="row">
		<div class="col-md-4 col-md-offset-4">
			{% with messages = get_flashed_messages() %}
			  {% if messages %}
			    <ul class=flashes>
			    {% for message in messages %}
			      <li>{{ message }}</li>
			    {% endfor %}
			    </ul>
			  {% endif %}
			{% endwith %}
		</div>
		</div>
		<div class="row">

			<div class="col-md-4 col-md-offset-4">
			    <h2>Sign in</h2>
				{# { wtf.quick_form(login_form, method='post', action='home', form_type='basic')}#}			
				OR USE GOOGLE ACCOUNT
				<form action="/login" method=post>
					{% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}
						<input type=text name=openid size=30 value='https://www.google.com/accounts/o8/id'>
					</p>
					
					
				  <!-- <input type="radio" name="openid" value='https://www.google.com/accounts/o8/id'>Google<br> -->

				  <input type=submit value="Sign in">
				  <input type=hidden name=next value="{{ next }}">
				</form>

				
			</div>
		</div>
	</div>
	
{% endblock %}