<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
	var socket = io.connect('http://' + document.domain + ':' + location.port + '/client');    
    

    socket.on('orderbook update', function(book){
      b = get_orderbook_html(book);
      $('#orderbook_table').html(b);
    });

  });
</script>


<div id="orderbook_data">
  <table id="orderbook_table">
    <tr>
      <th>Sell volume</th>
      <th>Price</th>
      <th>Buy volume</th>
    </tr>
  </table>
</div>
<div id="messages"></div>
