
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		console.log('asdasdasd');
		var socket = io.connect('http://' + document.domain + ':' + location.port + '/client');    
		socket.on('orderbook update', function(book){
			b = get_orderbook_html(book);
			$('#orderbook_table').html(b);
		});
	});
</script>

<div id="orderbook_data">
	<h2>Orderbook status</h2>
	<table id="orderbook_table" class="table" style="border-top: none">
		<tr>
			<th>Sell volume</th>
			<th>Price</th>
			<th>Buy volume</th>
		</tr>
	</table>
</div>
<div id="messages"></div>

