<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    var socket = io.connect('http://' + document.domain + ':' + location.port + '/client');

    $('form#new_order').submit(function(event) {
        var form_data = $('form#new_order').serialize();
        $('div#last_order').val(form_data);
        socket.emit('order submitted', {data: form_data});
        $('form#new_order').each(function(){
          this.reset();
        });
        return false;
    });
    // $('#example').dataTable();
  });
</script>

<h2>Order form</h2>
<hr>
{% import "bootstrap/wtf.html" as wtf %}
{{ wtf.quick_form(order_form, method='post', action='#', id='new_order', form_type='horizontal')}}